<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12" *ngFor="let key of item | keys">
    <a class="list-group-item clearfix">
      <div class="pull-left" *ngIf="item[key]">
        <h4 class="list-group-item-heading">{{ key }}</h4>
        <p class="list-group-item-text" *ngFor="let info of item[key] | keys">{{ info }}:{{ item[key][info] }}</p>
      </div>
      <span class="pull-right"></span>
    </a>
    <br/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>
