<mat-sidenav-container>
  <mat-sidenav role="navigation" #sidenav>
    <app-navigation [sidenav]="sidenav"></app-navigation>
    <form (ngSubmit)="search(f)" #f="ngForm" color="accent">
      <mat-form-field>
        <input type="text"
               ngModel
               matInput
               name="postalcode"
               required
               placeholder="Postal code"
               pattern='^\d{5}(?:[\s]?[-\s][\s]?\d{4})?$'>
      </mat-form-field>
      <button type="submit" mat-raised-button color="accent" [disabled]="!f.valid">Search</button>
    </form>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar [sidenav]="sidenav"></app-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
