<div class="navbar-default">
  <ul class="nav navbar-nav" *ngIf="!(this.authState | async).isAuthenticated">
    <li [routerLink]="['/auth','signin']">
      <button mat-raised-button color="accent">Sign In</button>
    </li>
    <li [routerLink]="['/auth','signup']">
      <button mat-raised-button color="primary">Sign Up</button>
    </li>
  </ul>
  <ul class="nav navbar-nav" *ngIf="(this.authState | async).isAuthenticated">
    <li routerLink="/" (click)="onSignOut()"><a>Sign Out</a></li>
  </ul>
</div>
