<section>
  <form (ngSubmit)="signIn(signinForm)" #signinForm="ngForm" fxLayout="column" fxLayoutAlign="center center" class="signin-form">
    <mat-form-field>
      <input type="email"
             matInput
             required
             name="email"
             ngModel
             #email="ngModel"
             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
             placeholder="Your email">
    </mat-form-field>
    <mat-form-field>
      <input #password="ngModel"
             matInput
             ngModel
             required
             name="password"
             placeholder="Your password"
             type="password">
    </mat-form-field>
    <button type="submit" mat-raised-button [disabled]="!signinForm.valid" >Sign In</button>
  </form>
</section>
